
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: "Articulat CF";
  src: url("../src/fonts/Articulat_CF_Normal.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* 🎨 Variables globales */
:root {
  /* ==== COLORS ==== */
  --color-primary: #1c3f60;
  --color-secondary: #53d398;
  --color-tertiary: #e6e9ed;
  --color-quaternary: #ffffff;

  /* ==== GRAYS ==== */
  --color-text: #222222;
  --color-muted: #666666;
  --color-background: #FFFFFF;
  --color-border: #e0e0e0;

  /* ==== TYPOGRAPHY ==== */
  --font-base: "Poppins", "Inter", sans-serif;
  --font-heading: "Articulat CF", "Roboto", sans-serif;

  /* ==== FONT SIZES ==== */
  --text-xs: 0.75rem;   /* 12px */
  --text-sm: 0.875rem;  /* 14px */
  --text-base: 1rem;    /* 16px */
  --text-lg: 1.125rem;  /* 18px */
  --text-xl: 1.25rem;   /* 20px */
  --text-2xl: 1.5rem;   /* 24px */
  --text-3xl: 1.875rem; /* 30px */

  /* ==== SPACING ==== */
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;

  /* ==== RADIUS ==== */
  /*--radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 16px;*/
}

/* ===========================
   Base styles
=========================== */

html {
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: var(--font-base);
  color: var(--color-text);
  background-color: var(--color-background);
  line-height: 1.6;
  font-weight: 200;
}

/* ===========================
   Headings & Typography
=========================== */

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  color: var(--color-primary);
  margin-top: var(--spacing-lg);
  margin-bottom: var(--spacing-md);
  font-weight: 600;
}

p {
  margin-bottom: var(--spacing-md);
}

/* ===========================
   Utility classes
=========================== */

.text-primary {
  color: var(--color-primary);
}

.text-secondary {
  color: var(--color-secondary);
}

.bg-primary {
  background-color: var(--color-primary);
  color: white;
}

.bg-secondary {
  background-color: var(--color-secondary);
  color: white;
}

.rounded-md {
  border-radius: var(--radius-md);
}

.shadow-sm {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
/* ===========================
   nav
=========================== */
.navbar {
     background-color: var(--color-secondary);
}
.navbar__logo{ 
  max-width: 50px;
}
.navbar_dropdown-menu {
  background-color: var(--color-background); 
}
.navbar .nav-link {
  color: var(--color-primary);
  font-weight: 600;
  font-family: var(--font-heading);
}
.navbar .dropdown-item {
font-family: var(--font-heading);
}
/* ===========================
   hero
=========================== */
.hero {
    height: 100vh;
    background-image: url('../img/bg/hero.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    /*background: linear-gradient(350deg,#305778 20%,#C1EDDD 100%);*/
}
.hero_1 {
    height: 100vh;
    /*background-image: url('../img/bg/hero.png');*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background: linear-gradient(350deg,#305778 20%,#C1EDDD 100%);
}
.hero-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
.hero__h1 {
    font-size: calc(1.375rem + 1.5vw);
    font-weight: 700;
    color: var(--color-quaternary);
    margin:0 0 20px 0;
    text-shadow: 3px 2px 9px rgba(28,63,96,0.6);
}
/*.hero__h1 span {
  color: var(--color-secondary);
}
.hero h3 {
  font-size: 1.25rem;
}*/
.hero__h3 {
  font-size: 1.25rem;
}
.hero__p {
    font-size: 14px;
    font-weight: 300;
    color: var(--color-quaternary);
    text-shadow: 3px 2px 9px rgba(28,63,96,0.6);
}
.hero__container--column-one {
  max-width: 100%;
  /*background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 15px;*/
  margin-top: 70px;
}
.hero__column-row-one {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 0 20px;
}
.hero__column-row-two {
  display: flex;
  justify-content: start;
  /*padding: 0 20px;*/
  height: auto;
}
.hero__counters {
  display: flex;
  gap:20px;
  color: var(--color-quaternary);
  /*padding:0 20px 20px 20px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);*/
  height: fit-content;
  max-width: 500px;
}
.counter {
  font-size: 2rem;
  font-weight: 600;
  text-shadow: 3px 2px 9px rgba(28,63,96,0.6);
}
.counter__text {
  font-size: 14px;
  font-weight: 500;
  text-shadow: 3px 2px 9px rgba(28,63,96,0.6);
}
/* ===========================   
    Form hero
=========================== */
.form {
  background: var(--color-background);
  padding-bottom: 1rem;
  border-radius: 5px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 550px;
  width: 100%;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.form__circle {
  width: 13px;
  height: 13px;
  border-radius: 50%;
}
.form__circle-container {
  display: flex;
  gap: 10px;
  background-color: #FFFFFF;
  border-bottom: 1px solid #e0e0e0;
  padding: 1.5rem 2rem 1.5rem 2rem;
}
.form__circle--red{
  background-color: #c86d74;
}
.form__circle--yellow {
  background-color: #dac268;
}
.form__circle--green {
  background-color: #80c16d;
}
.form h3 {
  margin: 20px 0;
}
button {
  padding: 0.75rem;
  border-radius: 3px;
  cursor: pointer;
  font-size: var(--text-sm);
  outline: none;
  border:none;
}
.form_btn_option {
  background-color: #53d39830;
  border: 1px solid var(--color-secondary) !important;
  color: var(--color-secondary);
  transition: background 0.2s;
  text-align: left;
}
.form_btn_option:hover {
  background-color: var(--color-secondary);
  color: white;
}
.form_btn_back{
  background-color: var(--color-secondary) !important;
  color: white !important;
  width: fit-content;
  margin:0 auto;
}
.selected {
  background-color: var(--color-secondary) !important;
  color: white !important;
}
.form input,
.form input:focus,
.form input:active,
select {
  padding: 0.75rem;
  border-radius: 3px;
  cursor: pointer;
  background-color: #53d39830;
  border: 1px solid var(--color-secondary);
  color: var(--color-secondary);
  font-size: 1rem;
  transition: background 0.2s;
  text-align: left;
  outline: none;
}
.step {
  opacity: 0;
  max-height: 0;
  margin:0;
  transform: translateX(40px);
  pointer-events: none;
  transition: opacity 0.4s ease, transform 0.4s ease; 
  width: 100%;
  left: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 0.30rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
.step.active {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
  max-height: 500px;
}
.hero_h1_container {
  position: relative;
  overflow: hidden;
}
.hero_h1_item.active {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
  max-height: fit-content;
}

.hero_h1_item {
  transform: translateX(40px);
  opacity: 0;
  max-height: 0;
  transition: opacity 0.4s ease, transform 0.4s ease; 
  color: var(--color-secondary);
}
.error {
  color: red;
  font-weight: bolder;
}
/* ===========================   
    Our certifications speak for themselves.
=========================== */
.certifications__item {
  min-height: 150px;
  transition: all 0.6s ease;
}
.certifications__item svg g{
  fill: #1c3f60;
}
.certifications__item:hover {
  background-color: #FFFFFF;
}
.certifications__item:hover svg g{
  fill: #1c3f60;
}
.certifications__h1 {
    font-size: var(--text-2xl);
    text-align: center;
}
.certifications__h2 {
  text-align: center;
  font-size: 20px;
}
.certifications {
    padding: var(--text-3xl) 0;
}

.certifications_col-1 {
  
}
.certifications_col-2 {
    background-image: url("../img/bg/certifications-1.jpeg");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
    min-height: 400px;
    border-radius: 10px 0 0 10px;
}
.certifications__logo--aws-partner {
    max-width: 130px;
}
.certifications__logo--microsoft-solutions-partner {
    max-width: 200px;
}
.certifications__logo--oracle-partner {
    max-width: 220px;
}
/* ===========================   
    Your Vision, Engineered
=========================== */
.your-vision-engineered {
    background-color: var(--color-primary);
    background-image: url('../img/bg/bg-1c3f60.png');
    background-repeat: no-repeat;
    padding: 6rem 0 4rem 0;
    background-size: cover;
}
.your-vision-engineered__h1 {
    text-align: center;
    color: var(--color-secondary);
    margin: 0;
    padding-bottom: var(--spacing-xl);
}
.your-vision-engineered__card {
    padding-bottom: var(--spacing-xl);
}
.your-vision-engineered__card-image {
    text-align: center;
}
.your-vision-engineered__card-title {
    color: var(--color-quaternary);
    font-size: var(--text-xl);
    text-align: center;
}
.your-vision-engineered__card-description{
    color:var(--color-quaternary);
    text-align: center;
}

/* ===========================   
    Proven Experience Across Industries
=========================== */
.proven-experience-across-industries{
    padding: 4.4rem 0 0 0;
}
.proven-experience-across-industries__h1 {
    text-align: center;
    margin: 0;
}
.proven-experience-across-industries__logo {
    max-width: 200px;
}
.proven-experience-across-industries__logo--logo-chattigo {
    max-width: 140px;
}
.proven-experience-across-industries__logo--logo-fyo {
    max-width: 260px;
}

/* ===========================   
    Yes, We Stack Like Pros
=========================== */
.yes-we-stack-like-pros {
    padding:6rem 0 4rem 0;
    background-color: var(--color-primary);
    background-image: url('../img/bg/bg-1c3f60.png');
    background-repeat: no-repeat;
    background-size: cover;    
}
.yes-we-stack-like-pros__h1 {
    color: var(--color-secondary);
    text-align: center;
    margin: 0;
    padding-bottom: var(--spacing-xl);
}
.yes-we-stack-like-pros__p {
    color: var(--color-quaternary);
    text-align: center;
    margin: 0;
    padding-bottom: var(--spacing-xl);
}
.swiper {
  height: 150px;
}
.swiper-wrapper {
  -webkit-transition-timing-function:linear!important; 
  -o-transition-timing-function:linear!important;
  transition-timing-function:linear!important; 
}
.swiper-slide {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
.swiper-slide img{
    max-height: 60px !important;
}
.yes-we-stack-like-pros-swiper__carousel_1--AZUREAPIMGMT {
    height: 100%;
}
/* evita que el mouse genere cualquier evento */
.yes-we-stack-like-pros-swiper__carousel_1,
.yes-we-stack-like-pros-swiper__carousel_2 {
  pointer-events: none; 
}

/* ===========================   
  Blog
=========================== */
.blog {
  display: none;
}
.blog {
  padding: 50px 0 100px 0;
}
.blog__h1 {
  text-align: center;
  padding-bottom:var(--spacing-xl);
}
.card__date {
  font-size: 14px;
  color: var(--color-text);
  text-align: end;
  margin: 0;
  padding: 10px 0;
}
.card__h4 {
  margin: 0;
  padding: 0 0 20px 0;
}
.card__container_img {
  width: 100%;
  height: 250px;
  overflow: hidden;
}
.card__img {
  width: 100%;
}
.card__btn {
  background-color: var(--color-primary);
  color: var(--color-quaternary);
  padding: 10px 20px;
  border-radius: 3px;
  outline: none;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
}
/* ===========================   
  Footer
=========================== */
footer {
  padding: 50px 0;
  background-color: var(--color-secondary);
}
.footer-container-logo {
  max-width: 130px;
}
.footer__h3 {
  margin-top: 0;
  margin-bottom: var(--spacing-md);
}
.footer__h5 {
  margin: 0;
}
.footer__social-media-icon {
  max-width: 40px;
}
.footer__social-media-icon--clutch {
  max-width: 30px;
}
footer p {
  color: var(--color-primary);
  font-weight: 400;
  font-size: var(--text-sm);
}
/* 
Subpages
*/
.hero-subpage {
  background-image: url('../img/bg/fondo_1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 250px;
  margin-top: 72px;
}
hr {
  height: 5px;
  border-top: 1px solid var(--color-muted);
}
.subpages-accordion .accordion-item {
  border-bottom: 1px solid var(--color-border);
}
.subpages-accordion .accordion-item h2.accordion-header{
  margin-bottom: 0;
}
.subpages-accordion .accordion-item .accordion-body {
  padding: 0 0 10px 0;
}
.hero-subpage__h1 {
  color: var(--color-quaternary);
  font-size: 50px;
}
.container-subpage {
  padding-top: 50px;
  padding-bottom: 0;
  font-weight: 400;
  overflow: hidden;
}
.container-subpage h1,
.container-subpage h2 {
  margin-top: 0;
  margin-bottom:20px;
}
.container-subpage h3 {
  font-size: 18px;
}

form input,
form input:focus,
form input:active,
textarea {
  padding: 0.75rem;
  border-radius: 3px;
  cursor: pointer;
  background-color: #53d39830;
  border: 1px solid var(--color-secondary);
  color: var(--color-secondary);
  font-size: 1rem;
  transition: background 0.2s;
  text-align: left;
  outline: none;
}
.btn-supages {
  background-color: var(--color-primary);
  color: var(--color-quaternary); 
  padding: 0.75rem;
  border-radius: 3px;
  cursor: pointer;
  font-size: var(--text-sm);
  outline: none;
  border: none;
  text-decoration: none;
  font-weight: 500;
}
.subpage__image {
  padding-top: 50px;
  padding-bottom: 50px;
}
.subpage__form {
  padding:0;
}
.subpage__body {
  padding-top: 80px;
  padding-bottom: 70px;
}
.microcopy {
  font-weight: 600;
  font-size: 14px;
}
.subpage_list-badges {
  display: grid;
  gap: 20px;
  padding: 25px 0 0 0;
}
.subpage_badge {
  border: 1px solid var(--color-primary);
  padding: 10px 20px;
  border-radius: 35px;
  color: var(--color-primary);
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  transition: all 0.6s ease;
}
.subpage_badge:hover {
  background-color: var(--color-primary);
  color: var(--color-quaternary);
}
.subpage_bg_1 {
  background-color: #F5F5F5;
}
.subpage__cards {
  position: relative;
}
.subpage-card {
  border:1px solid var(--color-border);
  border-radius: 5px;
  height: 100%;
  background-color: var(--color-background);
  box-shadow: 1px 6px 16px -6px rgba(0,0,0,0.75);
  -webkit-box-shadow: 1px 6px 16px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 6px 16px -6px rgba(0,0,0,0.75); 
}
.subpage__img-rounded {
  border-radius: 5px;
}
.subpage__section {
  padding-top: 60px;
  padding-bottom: 60px;
}
.subpage-card-head {
  min-height: 50px;
  display: flex;
  justify-content: start;
  align-items: center;
  border-bottom: 1px solid lightgray;
  padding: 20px;
}
.subpage-card-head h3 {
  margin: 0;
}
.subpage-card-body {
  padding:20px;
}
.subpage_certifications .certifications__logo--aws-partner {
  max-width: 100px;
}
.subpage_certifications .certifications__logo--microsoft-solutions-partner {
  max-width: 200px;
}
.subpage_certifications .certifications__logo--oracle-partner{
  max-width: 250px;
}

.flexble-teams__col-one-container {
  max-width: 570px;
  padding-bottom: 40px;
}
.flexble-teams__col-one-ul {
  margin: 0;
  padding-bottom:30px;
}
.flexble-teams__col-one-ul li span {
  text-decoration: 2px solid underline;
}
.flexble-teams__col-two {
  display: flex;
  justify-content: center;  
}
.accordion_section {
  background-image: url("../img/subpages/staff_augmentation_2.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 120px 0;
}
.accordion-button {
  outline: none !important;
  box-shadow: none !important;
  padding: 20px 0;
  font-size: 18px;
  font-weight: 600;
  color: #FFFFFF;
}
.accordion-button:not(.collapsed) {
  color: #FFFFFF;
}
.subpages-accordion .accordion-item .accordion-body {
  color: #FFFFFF;
}
.accordion-button::after,
.accordion-button:not(.collapsed)::after {
  background-image: url("../img/subpages/arrow-accordion.svg");
}
.staff_augmentation_use_cases {
  padding: 0;
}
.staff_augmentation_use_cases__circle{
  background-color: var(--color-primary);
  color: var(--color-background);
  width: 200px;
  height: 200px;
  margin-bottom: 5px;
  text-align: center;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  padding: 5px;
  transition: all 0.6s ease;
}
.staff_augmentation_use_cases__circle:hover{
  border:1px solid var(--color-primary);
  color: var(--color-primary);
  background-color: var(--color-quaternary);
}
.staff_augmentation_use_cases__col {
  display: flex;
}
.staff_augmentation_use_cases-col-one {
  padding-top: 50px;
  padding-bottom: 50px;
}
.staff_augmentation_use_cases-col-two {
  background-image: url('../img/subpages/staff_augmentation_1.webp');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.staff_augmentation_use_cases-col-one .staff_augmentation_use_cases__col:nth-child(1),
.staff_augmentation_use_cases-col-one .staff_augmentation_use_cases__col:nth-child(2),
.staff_augmentation_use_cases-col-one .staff_augmentation_use_cases__col:nth-child(3),
.staff_augmentation_use_cases-col-one .staff_augmentation_use_cases__col:nth-child(4) {
  justify-content: center;
}
/**/
/* SECTION */
section {
  padding: 100px 0;
  overflow: hidden;
}
.section_hero_img {
  max-width: 500px;
  width: 100%;
}
.section_h1 {
  font-size: 3.5rem;
  font-weight: 700;
  margin: 0;
}
.section_h1--cloud-migration {
  font-size: 3rem;
}
.section_card {
  text-align: center;
  border: 1px solid var(--color-border);
  border-radius: 5px;
  height: 100%;
  background-color: var(--color-background);
  box-shadow: 1px 6px 16px -6px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 6px 16px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 6px 16px -6px rgba(0,0,0,0.75);
  padding: 1rem;
}
.section_hero {
  padding: 30px 0 70px 0;
}
.common-ai-use-cases {
  background-image: none;
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
}
.accordion_section--ai-development {
  background-image: url(../ai-development/img/bg-ia-6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  padding: 120px 0;
}
.timeline-container {
  gap: 30px;
}

.section_circle{
  background-color: var(--color-primary);
  color: var(--color-background);
  width: 200px;
  height: 200px;
  margin-bottom: 5px;
  text-align: center;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  padding: 5px;
  transition: all 0.6s ease;
  font-weight: 600;
}
.section_circle:hover{
  border:1px solid var(--color-primary);
  color: var(--color-primary);
  background-color: var(--color-quaternary);
}
.user_circle {
  width: 250px;
  height: 250px;
  background-color: var(--color-primary);
  margin: 0 auto;
  border-radius: 50%;
  margin-bottom: 50px;
}
/* Iconos en círculos */
.timeline-icon {
  width: 25px;
  height: 25px;
  background: #1c3f60;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  margin: 0 auto;
}

.usecases-list {
  max-width: 700px;
  border-top: 1px solid #e6e9ed;
  border-left: 1px solid #e6e9ed;
  border-right: 1px solid #e6e9ed;
  border-radius: 3px;
  background-color: #FFFFFF;
  /*box-shadow: -1px 2px 19px 15px rgba(255,255,255,0.75);
  -webkit-box-shadow: -1px 2px 19px 15px rgba(255,255,255,0.75);
  -moz-box-shadow: -1px 2px 19px 15px rgba(255,255,255,0.75);*/
}
.usecases-list .list-group-item {
  transition: background-color 0.2s, padding-left 0.2s;
  border-bottom: 1px solid #e6e9ed;
  padding: 0.75rem 1rem;
}

.usecases-list .list-group-item:hover {
  background-color: var(--color-primary);
  padding-left: 10px;
  color: var(--color-quaternary);
}

/* Línea horizontal desktop */
@media (min-width: 992px) {
  .timeline-container::before {
    content: "";
    position: absolute;
    top: 34px;
    left: 0;
    right: 0;
    height: 4px;
    background: #1c3f60;
    z-index: 1;
  }

  .timeline-item {
    flex: 1;
    z-index: 2;
  }
}

/* Línea vertical mobile */
@media (max-width: 992px) {
  .timeline-icon {
    display: none;
  }
  .timeline-container {
    border-left: 4px solid #1c3f60;
    padding-left: 30px;
  }

  .timeline-item {
    position: relative;
  }

  .timeline-item::before {
    content: "";
    position: absolute;
    left: -40px;
    top: 70px;
    width: 16px;
    height: 16px;
    background: #1c3f60;
    border-radius: 50%;
  }
}

@media(min-width: 500px) {
  .hero__container--column-one {
    /*padding: 30px;*/
  }
  .form {
    padding-bottom:2rem;
  }
  .step {
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .subpage_list-badges {
    display: flex;
  }
}
@media(min-width: 576px) { 
  /*.subpage_certifications .certifications__logo--aws-partner{
    max-width: 70px;
  }*/
  .subpage_certifications .certifications__logo--microsoft-solutions-partner {
    max-width: 150px;
  }
  .subpage_certifications .certifications__logo--oracle-partner{
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  /*.hero h3 {
    font-size: 1.75rem;
  }*/
  /*.subpage__body {
    padding-top: 0;
  }*/
  .hero__h3 {
    font-size: 1.50rem;
  }
  .staff_augmentation_use_cases-col-one .staff_augmentation_use_cases__col:nth-child(1),
  .staff_augmentation_use_cases-col-one .staff_augmentation_use_cases__col:nth-child(3) {
    justify-content: end;
  }
  .staff_augmentation_use_cases-col-one .staff_augmentation_use_cases__col:nth-child(2),
  .staff_augmentation_use_cases-col-one .staff_augmentation_use_cases__col:nth-child(4) {
    justify-content: start;
  }
  .footer-container-logo {
    max-width: 150px;
  }  
  .container-subpage {
    padding-top: 70px;
    padding-bottom: 0;
  }
  .hero__h1 {
    font-size: 50px;
  }
  .hero__p {
    font-size: var(--text-xl);
  }
  .counter__text {
    font-size: 16px;
  }
}
@media (min-width: 992px) {
  .certifications__item:hover {
    background-color: #1c3f60;
  }
  .certifications__item:hover svg g{
    fill: #FFFFFF;
  }
  .certifications_col-1 {
    padding-left: calc((100vw - 960px) / 2);
  }
  .navbar__logo {
    max-width: 60px;
  }
  .flexble-teams__col-two {
    justify-content: end;
  } 
  .hero__container--column-one {
    margin-top: 0;
  }
  .hero__column-row-one {
    align-items: center;
  }
  .hero__column-row-two {
    padding: 0;
    height: 30%;
  }
  .hero__h1 {
    font-size: 70px;
  }
}
@media (min-width: 1200px) {
  .common-ai-use-cases {
    background-image: url(../ai-development/img/bg-ia-1.png);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
  } 
  .certifications_col-1 {
    padding-left: calc((100vw - 1140px) / 2);
  }
  .counter {
    font-size: 40px;
  }
  .hero__container--column-one {
    max-width: 100%;
  }
  .hero__column-row-one {
    padding: 0;
  }
  .hero__column-row-two {
    /*padding: 40px 0 0 0;*/
  }
}
@media (min-width: 1400px){
  .certifications_col-1 { 
    padding-left: calc((100vw - 1320px) / 2);
  }
}
@media (min-width: 1920px) { 
  .hero-container {
    max-width: 1800px;
  }
}
